body {
	width: 800px;
	max-width: 100%;
	margin: 0 auto;
	overflow-x:  hidden;
    background-color: var(--bs-body-bg);
	color: var(--bs-body-color);
}


.github-link {
	fill: var(--bs-body-color);
}


#darkModeToggle {
	position: absolute;
	padding: 5px;
	cursor: pointer;
	right: 1rem;
	top: 0.5rem;
}
#darkModeToggle svg {
	height: 1.5rem;
	width: 1.5rem;
}


.btn-check:checked+.btn,
.btn.active, .btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
	border-color: var(--bs-btn-active-border-color) !important;
}
.btn-group label {
	padding-right: 0.75rem;
	padding-left: 0.75rem;
	padding-top: 0.15rem;
	padding-bottom: 0.15rem;
}
