body {
	width: 800px;
	max-width: 100%;
	margin: 0 auto;
	overflow-x:  hidden;
    background-color: var(--bs-body-bg);
	color: var(--bs-body-color);
}


.github-link {
	fill: var(--bs-body-color);
}


#darkModeToggle {
	position: absolute;
	padding: 5px;
	cursor: pointer;
	right: 1rem;
	top: 0.5rem;
}
#darkModeToggle svg {
	height: 1.5rem;
	width: 1.5rem;
}
